.page-link {
  &:hover {
    div {
      background-color: $dark-grey-color;
    }
  }
}

.card {
  border-color: $dark-grey-color;
}

.image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
