@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-color: $black-color;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black-color;
}

.global-padding {
  margin: 3.75rem 0.5rem 6.5rem 15rem;
}

.global-top-padding {
  margin-top: 3.75rem;
}

.main-style {
  background-color: $theme-color;
  border-radius: 0.5rem;
}

// TODO fix this
.main-container {
  height: 82vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

@mixin h1 {
  font-size: 72px;
  line-height: 1;
}

@mixin h2 {
  font-size: 56px;
  line-height: 64px;
}

@mixin h3 {
  font-size: 48px;
  line-height: 56px;
}

@mixin h4 {
  font-size: 40px;
  line-height: 48px;
}

@mixin h5 {
  font-size: 18px;
  line-height: 26px;
}