$black-color: #0a0a0a;
$white-color: #f5f5f5;
$dark-grey-color: #505a64;
$emerald-color: #11d393;

$theme-color: #1e1f1f;
$inactive-color: #34373d;
$player-bg-color: $black-color;

// Hovering colors
$card-hover-color: #181a1c;
$hover-text-color: $white-color;
$song-hover-color: #3c4048;