$rhap_theme-color: #00ffc8;
$rhap_background-color: #0a0a0a;
$rhap_bar-color: #444;
$rhap_time-color: #ddd;
$rhap_font-family: 'Fira Code', monospace;

@import '~react-h5-audio-player/src/styles.scss';
