.songItem {
  background-color: $inactive-color;
  color: $white-color;
  cursor: pointer;

  &:hover {
    background-color: $song-hover-color;
  }

  &.active {
    color: $emerald-color;
  }

  th {
    padding: 0.5rem 0;
  }
}